<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="select" >
            <name>mxcbcSortBy</name>
            <label lang="de">Auswahlkriterium für den Variantenartikel</label>
            <label lang="en">Selection criterion for the variant article</label>
            <value>price</value>
            <store>
                <option>
                    <value>ordernumber</value>
                    <label lang="de">Bestellnummer</label>
                    <label lang="en">Order number</label>
                </option>
                <option>
                    <value>price</value>
                    <label lang="de">Preis</label>
                    <label lang="en">Price</label>
                </option>
                <option>
                    <value>instock</value>
                    <label lang="de">Lagerbestand</label>
                    <label lang="en">Stock</label>
                </option>
                <option>
                    <value>sales</value>
                    <label lang="de">Absatz</label>
                    <label lang="en">Sales</label>
                </option>
            </store>
        </element>
        <element type="select" >
            <name>mxcbcOrderBy</name>
            <label lang="de">Wert des Kriteriums</label>
            <label lang="en">Value of the criterion</label>
            <value>max</value>
            <store>
                <option>
                    <value>max</value>
                    <label lang="de">Hoechster Wert</label>
                    <label lang="en">Highest value</label>
                </option>
                <option>
                    <value>min</value>
                    <label lang="de">Niedrigster Wert</label>
                    <label lang="en">Lowest value</label>
                </option>
            </store>
        </element>
    </elements>
</config>